<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions Required -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/> <!-- For Android 11 and above -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Application Configuration -->
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="mentalhelth"
        tools:replace="android:icon, android:label">
        <!-- Your activity declarations go here, e.g. -->
        <!-- <activity android:name=".MainActivity"> -->
        <!--     <intent-filter> -->
        <!--         <action android:name="android.intent.action.MAIN" /> -->
        <!--         <category android:name="android.intent.category.LAUNCHER" /> -->
        <!--     </intent-filter> -->
        <!-- </activity> -->
    </application>

</manifest>
