<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38607290109-mudgmkhoghqg650lqprihoti6njui85p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38607290109-mudgmkhoghqg650lqprihoti6njui85p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>38607290109-h93ue15kib3bguhgcvmqp00u9hr4mqtt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_ZS9AmYWRroqgUwQDhLTx4SHqZl7N7y4</string>
	<key>GCM_SENDER_ID</key>
	<string>38607290109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mentalhelth.mentalhelth</string>
	<key>PROJECT_ID</key>
	<string>mental-strength</string>
	<key>STORAGE_BUCKET</key>
	<string>mental-strength.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38607290109:ios:f76a899a71e7322317c894</string>
</dict>
</plist>