<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfTLLn6_PTk9RJ98fqr8NvWTv6-bA20Ec</string>
	<key>GCM_SENDER_ID</key>
	<string>520915437228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mentalhelth.mentalhelth</string>
	<key>PROJECT_ID</key>
	<string>mental-health-d449b</string>
	<key>STORAGE_BUCKET</key>
	<string>mental-health-d449b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520915437228:ios:5459ea19009543ef008109</string>
</dict>
</plist>